header{
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 5px solid black;
    
}
header h1{
 color: antiquewhite;
 font-size: 2.5em;
 text-decoration: underline;
    
}
Nav {
    margin-top: 30px;
    
}
.Nav a{
    margin-top: 60px;
    margin-right: 50px;
    font-size: 2.0em;
    color: aliceblue;
    text-decoration:solid;
}
.Nav a:hover{
   color: blueviolet;
    text-decoration: underline;
}
.AboutMe{
     
    padding:30px;
    height: 70vh 

}
.AboutMeContent{
    margin-top: 100px;
    display: flex;
    background-color: black;
    color: aliceblue;
    opacity: 0.95;
    font-size: 2.5em;

}
.avatar{
   height: auto;
   width: 300px;
   margin: 20px;

}
.ContactForm{
color: aliceblue;
font-size:2.0em ;

padding: 20px;
height: 100vh 
}

form {
    width: 350px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: black;
    color: aliceblue;
}
form input {
   margin: 10px;
    width: 300px;
    height:30px;
}
.message{
    margin: 10px;
     width: 300px;
     height:100px;
 }
 footer{

    height: 100px;
  
 }

 .footerContent{
    padding: 10px;
 display: flex;
 justify-content: center;
    }
 .icon{
    width: 70px;
    height: auto;
 }