header{
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom: 5px solid black;
    
}
header h1{
 color: antiquewhite;
 font-size: 2.5em;
 text-decoration: underline;
    
}
Nav {
    margin-top: 30px;
    
}
.Nav a{
    margin-top: 60px;
    margin-right: 50px;
    font-size: 2.0em;
    color: aliceblue;
    text-decoration:solid;
}
.Nav a:hover{
   color: blueviolet;
    text-decoration: underline;
}
.AboutMe{
     
    padding:30px;
    height: 70vh 

}
.AboutMeContent{
    margin-top: 100px;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixid=Mnw0MDkzODR8MHwxfHNlYXJjaHw0fHx0ZWNofGVufDB8fHx8MTY3OTk0MDkyNg&ixlib=rb-4.0.3");
    color: aliceblue;
    opacity: 0.95;
    font-size: 2.5em;

}
.Portfolio{
   height: 800px;
}

.PortfolioCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project{
    padding: 10px;
}
.project:hover{
    transform: scale(1.05);
  filter: drop-shadow(0 0 1rem rgb(184, 197, 186));
    
}
.resume{
    height: 80vh;
    margin-top :-25px;
    padding: 30px;
    color: aliceblue;
  
}
.resume a{
   text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
}

.skills{
    font-size: 1.7em; 
}
.resume  li{
     font-size: 1.5em;
 }
.resume a:hover{
    text-decoration: underline;
     color: aliceblue;
 }
.avatar{
   height: auto;
   width: 300px;
   margin: 20px;

}
.ContactForm{
color: aliceblue;
font-size:2.0em ;

padding: 20px;
height: 80vh 
}

form {
    width: 350px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: black;
    color: aliceblue;
}
form input {
   margin: 10px;
    width: 300px;
    height:30px;
}
.message{
    margin: 10px;
     width: 300px;
     height:100px;
 }
 footer{

    height: 90px;
  
 }

 .footerContent{
    padding: 10px;
 display: flex;
 justify-content: center;
    }
 .icon{
    width: 70px;
    height: auto;
 }