header{
    height: 100px;
    margin: -10px;
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
header h1{
 color: antiquewhite;
 font-size: 2.5em;
 text-decoration: underline;
    
}
Nav {
    margin-top: 30px;
    
}
.Nav a{
    margin-top: 60px;
    margin-right: 50px;
    font-size: 2.0em;
    color: aliceblue;
    text-decoration: none;
}
.Nav a:hover{
   color: blueviolet;
    text-decoration: underline;
}